.nav1 {
    
    background-color: rgb(42, 40, 40);
    height: 40px;
    position: absolute;
    width: 110vw;
    padding-left: 15%;
    display:inline-flex;
    padding-top: 0%;
    
    
}

.icon-1 {
    color: whitesmoke;
    position:static;
    display:grid;
    padding-top: 15px;
    padding-left: 0px;
    
}
.icon2{
    color: whitesmoke;
    position:static;
    display:grid;
    padding-top: 15px;
    padding-left: 0px;
    margin-right: 2px;
}
.icon3 {
    
    color: whitesmoke;
    position:static;
    display:grid;
    padding-top: 15px;
    padding-left: 5px;
   
}


nav ul {
    float: right;
    display: contents;
    margin: 50px;
    width: 100vw;
    position:relative;
    
    

}

nav li {

    
    display: inline;
    margin: 10px;
    color: whitesmoke;
    font-weight: 50px;
    position:static ;
    margin-top: 15px;
    
}
.intro{
    position:sticky;
    margin-left: 5%;
    margin-right: 5%;
}
.sec{
    width: 70vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    
   margin-top: 5%;
    
    margin-left: 10%;
    z-index: -1;
    padding-top: 0%;
    text-align: center;
    border-width: 50vw;
    box-shadow: 10px 10px 20px whitesmoke;
   
}
.Rem{
    font-size: 40px;
    font-weight:lighter
    
}
.para1{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    
}
blockquote{
    position: relative;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left:15% ;
    padding-right: 15%;
}
h4{
    color:rgb(215, 214, 214);
    font-weight:bolder;
}
footer{
    margin-bottom: 20px;
    margin-top: 50px;
}
.foooter-para{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
hr{
    position: relative;
    width: 55vw;
    
}
a{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    color: blue;
}
a::after{
    color: brown;
}
body {
    width: 100vh;
    overflow-x: hidden;
    cursor:auto;
}

.trail {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(165, 235, 197);
    pointer-events: none;
    transition: all 0.3s ease;
    
}